---
import AuthLayout from "@/components/layouts/AuthLayout.astro";
import Main from "@/components/ui/Main.astro";
import PageContent from "@/components/ui/PageContent.astro";
import PageHeader from "@/components/ui/PageHeader.astro";
import ResourceGrid from "@/modules/resources/components/ResourceGrid.astro";
import { getResourcesService } from "@/modules/resources/services/get-resources.service";

const searchParams = new URLSearchParams(Astro.url.searchParams);

const [error, data] = await getResourcesService(undefined, {
  q: searchParams.get("q") ?? undefined,
});

const folders = data?.data?.folders ?? [];
const notes = data?.data?.notes ?? [];
---

<AuthLayout title="Mi Espacio">
  <PageContent>
    <PageHeader> Mi Espacio </PageHeader>

    <Main>
      <ResourceGrid folders={folders} notes={notes} error={error} />
    </Main>
  </PageContent>
</AuthLayout>
