---
import AuthLayout from "@/components/layouts/AuthLayout.astro";
import Main from "@/components/ui/Main.astro";
import DashboardCard from "@/modules/dashboard/components/DashboardCard.astro";
import DashboardFixedResources from "@/modules/dashboard/components/DashboardFixedResources.astro";
import DashboardFixedResourcesHeader from "@/modules/dashboard/components/DashboardFixedResourcesHeader.astro";
import DashboardHeader from "@/modules/dashboard/components/DashboardHeader.astro";
import { CreateResourceFab } from "@/modules/resources/components/create-resource-fab";
import { getMeService } from "@/modules/user/services/get-me.service";
import { Share2, User } from "lucide-react";

const [error, data] = await getMeService();
const me = data?.data;
---

<AuthLayout title="Mi Espacio">
  <CreateResourceFab client:visible />
  <div
    class="flex flex-col gap-y-8 p-4 md:p-6 lg:p-8 w-full transition-[padding]"
  >
    <DashboardHeader
      user={{ name: me?.name, lastName: me?.lastName }}
      error={error}
    />

    <Main>
      <section
        class="flex items-center justify-center gap-x-3 transition-[gap]"
      >
        <DashboardCard
          title="Mi Espacio"
          resourceCount={me?.ownerResourceCount}
        >
          <figure class="p-3 rounded bg-amber-500/5 text-amber-500">
            <User />
          </figure>
        </DashboardCard>

        <DashboardCard
          title="Compartidas"
          resourceCount={me?.sharedResourceCount}
        >
          <figure class="p-3 rounded bg-purple-500/5 text-purple-500">
            <Share2 />
          </figure>
        </DashboardCard>
      </section>

      <section class="flex flex-col gap-y-4 lg:gap-y-8 transform-[gap]">
        <DashboardFixedResourcesHeader />

        <DashboardFixedResources />
      </section>
    </Main>
  </div>
</AuthLayout>
