---
import Main from "@/components/ui/Main.astro";
import AuthLayout from "@/components/layouts/AuthLayout.astro";
import MySpaceCard from "@/modules/dashboard/components/DashboardCard.astro";
import MySpaceFixedResources from "@/modules/dashboard/components/DashboardFixedResources.astro";
import MySpaceFixedResourcesHeader from "@/modules/dashboard/components/DashboardFixedResourcesHeader.astro";
import MySpaceHeader from "@/modules/dashboard/components/DashboardHeader.astro";
import { getResourcesService } from "@/modules/resources/services/get-resources.service";
import { CreateResourceFab } from "@/modules/resources/components/create-resource-fab";
import { Share2, User } from "lucide-react";
import { getMeService } from "@/modules/user/services/get-me.service";
import { ErrorWrapper } from "@/components/ui/error-wrapper";

const [meError, me] = await getMeService();
const [resourcesError, resources] = await getResourcesService();
---

<AuthLayout title="Mi Espacio">
  <CreateResourceFab client:visible />
  <div
    class="flex flex-col gap-y-8 p-4 md:p-6 lg:p-8 w-full transition-[padding]"
  >
    <MySpaceHeader
      user={{ name: me?.data.name, lastName: me?.data.lastName }}
    />

    <Main>
      <section
        class="flex items-center justify-center gap-x-3 transition-[gap]"
      >
        <MySpaceCard
          title="Mi Espacio"
          resourceCount={me?.data.ownerResourceCount}
        >
          <figure class="p-3 rounded bg-amber-500/5 text-amber-500">
            <User />
          </figure>
        </MySpaceCard>

        <MySpaceCard
          title="Compartidas"
          resourceCount={me?.data.sharedResourceCount}
        >
          <figure class="p-3 rounded bg-purple-500/5 text-purple-500">
            <Share2 />
          </figure>
        </MySpaceCard>
      </section>

      <section class="flex flex-col gap-y-4 lg:gap-y-8 transform-[gap]">
        <MySpaceFixedResourcesHeader />

        <ErrorWrapper error={resourcesError}>
          <MySpaceFixedResources resources={resources!.data} />
        </ErrorWrapper>
      </section>
    </Main>
  </div>
</AuthLayout>
