---
import AuthLayout from "@/components/layouts/AuthLayout.astro";
import Main from "@/components/ui/Main.astro";
import PageContent from "@/components/ui/PageContent.astro";
import PageHeader from "@/components/ui/PageHeader.astro";
import DashboardCard from "@/modules/dashboard/components/DashboardCard.astro";
import DashboardPinnedResourcesHeader from "@/modules/dashboard/components/DashboardPinnedResourcesHeader.astro";
import { CreateResourceFab } from "@/modules/resources/components/create-resource-fab";
import ResourceGrid from "@/modules/resources/components/ResourceGrid.astro";
import { getMeService } from "@/modules/user/services/get-me.service";
import { Share2, User } from "lucide-react";

const [_, data] = await getMeService();
const me = data?.data;
---

<AuthLayout title="Mi Espacio">
  <CreateResourceFab client:visible />
  <PageContent>
    <PageHeader>
      Bienvenido, {me?.name}&nbsp;{me?.lastName}
    </PageHeader>

    <Main>
      <section
        class="flex items-center justify-center gap-x-3 transition-[gap]"
      >
        <DashboardCard
          href="/my-space"
          title="Mi Espacio"
          resourceCount={me?.ownerResourceCount}
        >
          <figure class="p-3 rounded bg-amber-500/5 text-amber-500">
            <User />
          </figure>
        </DashboardCard>

        <DashboardCard
          href="/shared"
          title="Compartidas"
          resourceCount={me?.sharedResourceCount}
        >
          <figure class="p-3 rounded bg-purple-500/5 text-purple-500">
            <Share2 />
          </figure>
        </DashboardCard>
      </section>

      <section class="flex flex-col gap-y-4 lg:gap-y-8 transform-[gap]">
        <DashboardPinnedResourcesHeader />

        <ResourceGrid resoureType="pinned" />
      </section>
    </Main>
  </PageContent>
</AuthLayout>
