---
import FolderCard from "@/modules/folders/components/FolderCard.astro";
import NoteCard from "@/modules/notes/components/NoteCard.astro";
---

<div
  class="grid grid-cols-[repeat(auto-fill,minmax(160px,1fr))] gap-2 md:gap-4 transition-[gap] *:aspect-square"
>
  {
    Array.from({ length: 17 }).map(() => (
      <FolderCard>tarjeta de recurso</FolderCard>
    ))
  }
  {
    Array.from({ length: 13 }).map(() => (
      <NoteCard>tarjeta de recurso</NoteCard>
    ))
  }
</div>
