---
import FolderCard from "@/modules/folders/components/FolderCard.astro";
import NoteCard from "@/modules/notes/components/NoteCard.astro";
---

<!-- -->
<div
  class="grid grid-cols-[repeat(auto-fill,minmax(170px,1fr))] gap-3 transition-[gap] pb-8"
>
  {
    Array.from({ length: 5 }).map(() => (
      <FolderCard>tarjeta de recurso</FolderCard>
    ))
  }
  {
    Array.from({ length: 13 }).map(() => (
      <NoteCard>tarjeta de recurso</NoteCard>
    ))
  }
</div>
