---
import Main from "@/components/ui/Main.astro";
import AuthLayout from "@/layouts/AuthLayout.astro";
import { NoteForm } from "@/modules/notes/components/note-form";
---

<AuthLayout title="Crear Nota">
  <Main className="p-4 md:p-6 lg:p-8 transition-[padding]">
    <NoteForm client:only />
  </Main>
</AuthLayout>
