---
import Main from "@/components/ui/Main.astro";
import AuthLayout from "@/components/layouts/AuthLayout.astro";
import MySpaceCard from "@/modules/my-space/components/MySpaceCard.astro";
import MySpaceFixedResources from "@/modules/my-space/components/MySpaceFixedResources.astro";
import MySpaceFixedResourcesHeader from "@/modules/my-space/components/MySpaceFixedResourcesHeader.astro";
import MySpaceHeader from "@/modules/my-space/components/MySpaceHeader.astro";
import { getResourcesService } from "@/modules/resources/services/get-resources.service";
import { CreateResourceFab } from "@/modules/resources/components/create-resource-fab";
import { Share2, User } from "lucide-react";
import { getMeService } from "@/modules/user/services/get-me.service";

const me = await getMeService();
const resources = await getResourcesService("pinned");
---

<AuthLayout title="Mi Espacio">
  <CreateResourceFab client:visible />
  <div
    class="flex flex-col gap-y-8 p-4 md:p-6 lg:p-8 w-full transition-[padding]"
  >
    <MySpaceHeader />

    <Main>
      <section
        class="flex items-center justify-center gap-x-3 transition-[gap]"
      >
        <MySpaceCard title="Mi Espacio" resourceCount={me.ownerResourceCount}>
          <figure class="p-3 rounded bg-amber-500/5 text-amber-500">
            <User />
          </figure>
        </MySpaceCard>

        <MySpaceCard title="Compartidas" resourceCount={me.sharedResourceCount}>
          <figure class="p-3 rounded bg-purple-500/5 text-purple-500">
            <Share2 />
          </figure>
        </MySpaceCard>
      </section>

      <section class="flex flex-col gap-y-4 lg:gap-y-8 transform-[gap]">
        <MySpaceFixedResourcesHeader />

        <MySpaceFixedResources resources={resources} />
      </section>
    </Main>
  </div>
</AuthLayout>
