---
import AppSidebar from "@/components/AppSidebar.astro";
import RootLayout from "../layouts/RootLayout.astro";
import SidebarTrigger from "@/components/sidebar/SidebarTrigger.astro";
---

<RootLayout title="Notes App">
  <AppSidebar />
  <div class="p-10 w-full">
    <SidebarTrigger className="ml-auto" />
  </div>
</RootLayout>
