---
import NavLink from "@/components/ui/NavLink.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Notes App | Inicio">
  <div class="h-dvh w-full flex items-center justify-center">
    <NavLink href="/home"> Ir a mi espacio </NavLink>
  </div>
</RootLayout>
