---
import { ErrorWrapper } from "@/components/ui/error-wrapper";
import { Typography } from "@/components/ui/typography";
import FolderCard from "@/modules/folders/components/FolderCard.astro";
import NoteCard from "@/modules/notes/components/NoteCard.astro";
import { getResourcesService } from "@/modules/resources/services/get-resources.service";

const [error, data] = await getResourcesService();
const resources = data?.data;
const folders = resources?.folders ?? [];
const notes = resources?.notes ?? [];
const isEmpty = folders.length === 0 && notes.length === 0;
---

<ErrorWrapper error={error}>
  {
    isEmpty ? (
      <Typography as="p" muted className="text-center">
        No hay recursos...
      </Typography>
    ) : (
      <div class="grid grid-cols-[repeat(auto-fill,minmax(150px,1fr))] gap-3 transition-[gap] pb-8">
        {folders.map((folder) => (
          <FolderCard name={folder.name} />
        ))}

        {notes.map((note) => (
          <NoteCard title={note.title} />
        ))}
      </div>
    )
  }
</ErrorWrapper>
