---
import { LayoutDashboard, Share2, User } from "lucide-react";
import Sidebar from "./ui/sidebar/Sidebar.astro";
import SidebarContent from "./ui/sidebar/SidebarContent.astro";
import SidebarFooter from "./ui/sidebar/SidebarFooter.astro";
import SidebarHeader from "./ui/sidebar/SidebarHeader.astro";
import SidebarMenu from "./ui/sidebar/SidebarMenu.astro";
import SidebarMenuItem from "./ui/sidebar/SidebarMenuItem.astro";

const pathname = Astro.url.pathname;
---

<Sidebar>
  <SidebarHeader>
    <span>Notes App</span>
  </SidebarHeader>
  <SidebarContent>
    <nav>
      <SidebarMenu>
        <SidebarMenuItem href="/dashboard" isActive={pathname === "/dashboard"}>
          <LayoutDashboard />
          Dashboard
        </SidebarMenuItem>
        <SidebarMenuItem href="/my-space" isActive={pathname === "/my-space"}>
          <User />
          Mi Espacio
        </SidebarMenuItem>
        <SidebarMenuItem href="/shared" isActive={pathname === "/shared"}>
          <Share2 />
          Compartidas
        </SidebarMenuItem>
      </SidebarMenu>
    </nav>
  </SidebarContent>
  <SidebarFooter>Usuario</SidebarFooter>
</Sidebar>
