---
import Sidebar from "./ui/sidebar/Sidebar.astro";
import SidebarContent from "./ui/sidebar/SidebarContent.astro";
import SidebarFooter from "./ui/sidebar/SidebarFooter.astro";
import SidebarHeader from "./ui/sidebar/SidebarHeader.astro";
import SidebarMenu from "./ui/sidebar/SidebarMenu.astro";
import SidebarMenuItem from "./ui/sidebar/SidebarMenuItem.astro";
import SidebarMenuTitle from "./ui/sidebar/SidebarMenuTitle.astro";

const pathname = Astro.url.pathname;
---

<Sidebar>
  <SidebarHeader>
    <span>Notes App</span>
  </SidebarHeader>
  <SidebarContent>
    <SidebarMenuTitle>Menu</SidebarMenuTitle>
    <SidebarMenu>
      <SidebarMenuItem href="/" isActive={pathname === "/"}>
        Home
      </SidebarMenuItem>
      <SidebarMenuItem href="/about" isActive={pathname === "/about"}>
        About
      </SidebarMenuItem>
    </SidebarMenu>
  </SidebarContent>
  <SidebarFooter>Usuario</SidebarFooter>
</Sidebar>
