---
import { PanelRightClose } from "lucide-react";
import { Button, type ButtonProps } from "../button";
import { cn } from "@/lib/utils";
import { SIDEBAR_IDS } from "./constants";

type Props = {
  className?: string;
} & Pick<ButtonProps, "size" | "variant">;

const { size = "icon", variant = "primary", className } = Astro.props;
---

<Button
  client:load
  size={size}
  variant={variant}
  data-open="false"
  id={SIDEBAR_IDS.TRIGGER}
  className={cn(
    "md:hidden data-[open=true]:[&_svg]:rotate-180 [&_svg]:transition-transform",
    className
  )}
>
  {Astro.slots.has("default") ? <slot /> : <PanelRightClose />}
</Button>

<script>
  import { $ } from "@/lib/utils";
  import { SIDEBAR_CUSTOM_EVENTS, SIDEBAR_IDS } from "./constants";

  function init() {
    try {
      const sidebarTrigger = $<HTMLButtonElement>(SIDEBAR_IDS.TRIGGER);

      function toggleOpenState() {
        const isOpen = sidebarTrigger.dataset.open === "true";
        sidebarTrigger.dataset.open = isOpen ? "false" : "true";
      }
      function toggleSidebar() {
        document.dispatchEvent(new CustomEvent(SIDEBAR_CUSTOM_EVENTS.TOGGLE));
      }

      sidebarTrigger.addEventListener("click", toggleSidebar);

      document.addEventListener(
        SIDEBAR_CUSTOM_EVENTS.TRIGGER_TOGGLE,
        toggleOpenState
      );
    } catch (error) {
      console.error(error);
    }
  }

  init();
</script>
