---
import { cn } from "@/lib/utils";
import NavLink from "../NavLink.astro";

type Props = {
  classNames?: {
    root?: string;
    active?: string;
  };
  isActive?: boolean;
  href?: string;
};

const { classNames, href, isActive } = Astro.props;

const cls = {
  root: "relative overflow-hidden px-4 h-10 w-full flex items-center gap-2 rounded transition-colors outline-transparent ring-0 focus-visible:outline-ring focus-visible:outline-2 focus-visible:outline-offset-2 after:content-[''] after:absolute after:w-0 hover:after:w-full after:h-full after:rounded after:bg-foreground/10 after:left-0 after:transition-[width]",
  active: "after:w-full hover:after:w-[97%] hover:bg-foreground/10",
};

const asLink = !!href;
---

<li
  role={asLink ? "link" : "listitem"}
  aria-label="Sidebar Menu Item"
  class:list={cn(
    !asLink && (classNames?.root ?? cls.root),
    !asLink && isActive && (classNames?.active ?? cls.active),
  )}
>
  {
    asLink ? (
      <NavLink href={href!} exact classNames={cls}>
        <span class="z-20 [&_svg]:size-4 flex items-center gap-x-2">
          <slot />
        </span>
      </NavLink>
    ) : (
      <span class="z-20 [&_svg]:size-4 flex items-center gap-x-2">
        <slot />
      </span>
    )
  }
</li>
