---
import { cn } from "@/lib/utils";
import { SIDEBAR_IDS } from "./constants";
---

<aside
  id={SIDEBAR_IDS.SIDEBAR}
  data-open="false"
  role="navigation"
  aria-label="Sidebar"
  class={cn(
    "xs:min-w-72 xs:w-72 w-full h-dvh py-8 px-6 bg-box fixed md:relative top-0 left-0 z-50 transition-transform -translate-x-full data-[open=true]:translate-x-0 md:translate-x-0 border-r border-transparent md:border-transparent xs:border-border"
  )}
>
  <div class="flex flex-col h-full gap-y-8">
    <slot />
  </div>
</aside>
<div
  data-open="false"
  id={SIDEBAR_IDS.OVERLAY}
  aria-label="Sidebar Overlay"
  class="fixed inset-0 z-40 bg-background/50 backdrop-blur-xs transition-discrete starting-style transition-[display,opacity] hidden xs:block md:hidden opacity-100 md:duration-75 data-[open=false]:hidden data-[open=false]:opacity-0"
>
</div>

<style>
  .starting-style {
    @starting-style {
      opacity: 0;
    }
  }
</style>

<script>
  import { $ } from "@/lib/utils";
  import { SIDEBAR_CUSTOM_EVENTS, SIDEBAR_IDS } from "./constants";

  function init() {
    try {
      const sidebar = $<HTMLDivElement>(SIDEBAR_IDS.SIDEBAR);
      const overlay = $<HTMLDivElement>(SIDEBAR_IDS.OVERLAY);
      const mediaQuery = window.matchMedia("(width >= 48rem)");

      function toggleTriggerOpenState() {
        document.dispatchEvent(
          new CustomEvent(SIDEBAR_CUSTOM_EVENTS.TRIGGER_TOGGLE)
        );
      }
      function open() {
        toggleTriggerOpenState();
        document.body.style.overflow = "hidden";
        sidebar.dataset.open = "true";
        overlay.dataset.open = "true";
      }
      function close() {
        toggleTriggerOpenState();
        document.body.style.overflow = "auto";
        sidebar.dataset.open = "false";
        overlay.dataset.open = "false";
      }
      function toggle() {
        const isOpen = sidebar.dataset.open === "true";
        isOpen ? close() : open();
      }
      function mediaQueryChange(e: MediaQueryListEvent) {
        const match = e.matches;
        if (match) {
          close();
        }
      }

      overlay.addEventListener("click", close);
      mediaQuery.addEventListener("change", mediaQueryChange);

      document.addEventListener(SIDEBAR_CUSTOM_EVENTS.OPEN, open);
      document.addEventListener(SIDEBAR_CUSTOM_EVENTS.CLOSE, close);
      document.addEventListener(SIDEBAR_CUSTOM_EVENTS.TOGGLE, toggle);
    } catch (error) {
      console.error(error);
    }
  }

  init();
</script>
