---
import { X } from "lucide-react";
import { Button, type ButtonProps } from "../button";
import { cn } from "@/lib/utils";
import { SIDEBAR_IDS } from "./constants";

type Props = {
  className?: string;
} & Pick<ButtonProps, "variant" | "size">;

const { variant = "secondary", size = "icon", className } = Astro.props;
---

<Button
  size={size}
  variant={variant}
  data-open="false"
  id={SIDEBAR_IDS.CLOSE}
  className={cn("md:hidden", className)}
>
  {Astro.slots.has("default") ? <slot /> : <X />}
</Button>

<script>
  import { $ } from "@/lib/utils";
  import { SIDEBAR_CUSTOM_EVENTS, SIDEBAR_IDS } from "./constants";

  function init() {
    try {
      const sidebarClose = $<HTMLButtonElement>(SIDEBAR_IDS.CLOSE);

      function closeSidebar() {
        document.dispatchEvent(new CustomEvent(SIDEBAR_CUSTOM_EVENTS.CLOSE));
      }

      sidebarClose.addEventListener("click", closeSidebar);
    } catch (error) {
      console.error(error);
    }
  }

  init();
</script>
