---
import { X } from "lucide-react";
import { Button, type ButtonProps } from "../button";
import { cn } from "@/lib/utils";
import { SIDEBAR_IDS } from "./constants";

type Props = {
  variant?: ButtonProps["variant"];
  className?: string;
};

const { variant = "secondary", className } = Astro.props;
---

<Button
  size={"icon"}
  variant={variant}
  data-open="false"
  id={SIDEBAR_IDS.CLOSE}
  className={cn(
    "md:hidden not-[data-as-close=true]:data-[open=true]:[&>svg]:-rotate-180 [&>svg]:transition-transform",
    className
  )}
>
  <X />
</Button>

<script>
  import { $ } from "@/lib/utils";
  import { SIDEBAR_CUSTOM_EVENTS, SIDEBAR_IDS } from "./constants";

  function init() {
    try {
      const sidebarClose = $<HTMLButtonElement>(SIDEBAR_IDS.CLOSE);

      function closeSidebar() {
        document.dispatchEvent(new CustomEvent(SIDEBAR_CUSTOM_EVENTS.CLOSE));
      }

      sidebarClose.addEventListener("click", closeSidebar);
    } catch (error) {
      console.error(error);
    }
  }

  init();
</script>
