---
import { cn } from "@/lib/utils";

type Props = {
  className?: string;
  isActive?: boolean;
  href?: string;
};

const { className, href, isActive } = Astro.props;

const cls = {
  root: "relative overflow-hidden border border-transparent px-4 h-9 w-full flex items-center gap-2 hover:bg-foreground/10 rounded transition-colors outline-transparent ring-0 focus-visible:outline-ring focus-visible:outline-2 focus-visible:outline-offset-2",
  active:
    'bg-foreground/10 after:content-[""] after:absolute after:w-2.5 after:h-full after:bg-foreground/30 after:left-0 border-foreground/30 hover:bg-foreground/15',
};
---

<li
  aria-label="Sidebar Menu Item"
  class={cn(href ? "" : cls.root, !href && className)}
>
  {
    href ? (
      <a href={href} class={cn(cls.root, isActive && cls.active)}>
        <slot />
      </a>
    ) : (
      <slot />
    )
  }
</li>
