@import "../../../styles/globals.css";

.tiptap {
  /* List styles */
  ul,
  ol {
    @apply py-0 px-8 my-2;

    li p {
      @apply my-1;
    }
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-6 text-pretty leading-normal first:mt-0;
  }

  h1,
  h2 {
    @apply mb-6;
  }

  h1 {
    @apply text-3xl font-extrabold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  h4 {
    @apply text-lg font-semibold;
  }

  h5,
  h6 {
    @apply text-base font-semibold;
  }

  p {
    @apply text-foreground;
  }

  /* Code and preformatted text styles */
  code {
    @apply bg-box rounded-md text-box-foreground text-xs p-1;
  }

  pre {
    @apply bg-background rounded-md text-foreground font-mono text-xs p-2;

    code {
      @apply bg-none;
    }
  }

  blockquote {
    @apply border-l-2 border-border ml-4 pl-2;
  }

  hr {
    @apply border-t border-border my-8;
  }
}
